<div class="modal-header">
    <h4 class="modal-title">{{conditionName.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="english">
        <p>Number of papers: {{totalPapers}}</p>
        <p>Proportion of significant findings for severity: {{severeProportion}}% <span style="color:red" *ngIf="severeProportion >= 50">The proportion is above 50%</span></p>
        <p>Proportion of significant findings for fatality: {{fatalityProportion}}% <span style="color:red" *ngIf="severeProportion >= 50">The proportion is above 50%</span></p>
        
        <!-- A bit of info about the studies -->
        <table class="table table-bordered table-striped" *ngIf="clinicalTrials !== undefined">
            <thead>
            </thead>
            <tbody>
                <ng-container *ngIf="clinicalTrials !== undefined && clinicalTrials.length > 0">
                    <tr>
                        <td style="font-weight: bold;">Study Name</td>
                        <td style="font-weight: bold;">Date</td>
                        <td style="font-weight: bold;">Severity Significance</td>
                        <td style="font-weight: bold;">Fatality Significance</td>
                    </tr>
                    <tr *ngFor="let trial of clinicalTrials">
                        <td><a href="{{trial.link}}">{{trial.name}}</a></td>
                        <td>{{trial.date}}</td>
                        <td>{{trial.severeSignificant}}</td>
                        <td>{{trial.fatalSignificant}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <br>
    </div>
    <div id = "spanish">
        <p>Numero de trabajos: {{totalPapers}}</p>
        <p>Proporción de hallazgos significativos para la gravedad: {{severeProportion}}%</p>
        <p>Proporción de hallazgos significativos de fatalidad: {{fatalityProportion}}%</p>
        <!-- A bit of info about the studies -->
        <table class="table table-bordered table-striped" *ngIf="clinicalTrials !== undefined">
            <thead>
            </thead>
            <tbody>
                <ng-container *ngIf="clinicalTrials !== undefined && clinicalTrials.length > 0">
                    <tr>
                        <td style="font-weight: bold;">Nombre del estudio</td>
                        <td style="font-weight: bold;">Fecha</td>
                        <td style="font-weight: bold;">Importancia de la gravedad</td>
                        <td style="font-weight: bold;">Importancia de la fatalidad</td>
                    </tr>
                    <tr *ngFor="let trial of clinicalTrials">
                        <td><a href="{{trial.link}}">{{trial.name}}</a></td>
                        <td>{{trial.date}}</td>
                        <td>{{trial.severeSignificant}}</td>
                        <td>{{trial.fatalSignificant}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <br>
    </div>

    <div id = "chinese">
        <p>论文数量: {{totalPapers}}</p>
        <p>严重程度重大发现的比例: {{severeProportion}}%</p>
        <p>重大死亡发现的比例: {{fatalityProportion}}%</p>
        <!-- A bit of info about the studies -->
        <table class="table table-bordered table-striped" *ngIf="clinicalTrials !== undefined">
            <thead>
            </thead>
            <tbody>
                <ng-container *ngIf="clinicalTrials !== undefined && clinicalTrials.length > 0">
                    <tr>
                        <td style="font-weight: bold;">研究名称</td>
                        <td style="font-weight: bold;">日期</td>
                        <td style="font-weight: bold;">严重程度意义</td>
                        <td style="font-weight: bold;">死亡意义</td>
                    </tr>
                    <tr *ngFor="let trial of clinicalTrials">
                        <td><a href="{{trial.link}}">{{trial.name}}</a></td>
                        <td>{{trial.date}}</td>
                        <td>{{trial.severeSignificant}}</td>
                        <td>{{trial.fatalSignificant}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <br>
    </div>
</div>
