<div id="english">
    <div class="textBlock">
        <h3>Conditions</h3>
        <span *ngFor="let condition of conditionList">
            <button (click)="showModal(condition)" id="normal" [ngStyle]="{'background-color':condition.color === 1 ? '#05e32a' : '#dedede'}">{{condition.name}}</button>
        </span>
    </div>

    <div class="textBlock">
        <h3>Legend</h3>
        <p>
            These are conditions that have been shown to possibly be linked to increased severity and mortality rates for COVID-19 patients.
            <br>
            Click each condition to see information on recent studies conducted involving each of these risk factors.
            <br>
            If you are logged into the VA server, some conditions might highlight as <span style="color: #05e32a">green</span> above. This signifies that the condition (or some form of it) is present in your profile.
        </p>
    </div>
</div>

<div id="spanish">
    <div class="textBlock">
        <h3>Condiciones</h3>
        <span *ngFor="let condition of conditionList">
            <button (click)="showModal(condition)" id="normal" [ngStyle]="{'background-color':condition.color === 1 ? '#05e32a' : '#dedede'}">{{condition.name}}</button>
        </span>
    </div>

    <div class="textBlock">
        <h3>Leyenda</h3>
        <p>
            Estas son condiciones que se ha demostrado que posiblemente estén relacionadas con una mayor gravedad y tasas de mortalidad para los pacientes con COVID-19.
            <br>
            Haga clic en cada condición para ver información sobre estudios recientes realizados sobre cada uno de estos factores de riesgo.
            <br>
            Si ha iniciado sesión en el servidor VA, algunas condiciones pueden resaltarse como <span style="color: #05e32a">verde</span> sobre. Esto significa que la condición (o alguna forma de ella) está presente en su perfil.
        </p>
    </div>
</div>

<div id="chinese">
    <div class="textBlock">
        <h3>情况</h3>
        <span *ngFor="let condition of conditionList">
            <button (click)="showModal(condition)" id="normal" [ngStyle]="{'background-color':condition.color === 1 ? '#05e32a' : '#dedede'}">{{condition.name}}</button>
        </span>
    </div>

    <div class="textBlock">
        <h3>传奇</h3>
        <p>
            这些情况已被证明可能与COVID-19患者的严重程度和死亡率增加有关。
            <br>
            单击每个条件以查看有关这些风险因素的最新研究的信息。
            <br>
            如果登录到VA服务器，某些情况可能会突出显示为 <span style="color: #05e32a">绿色</span>. 这表示您的个人资料中存在该条>件（或某种形式）。
        </p>
    </div>
</div>
