.cardContent {
  float: left;
}

.cardImage {
  float: left;
  width: 30%;
  min-width: 150px;
  max-width: 100%;
}

.cardImage>div, .cardContent>div {
  float: left;
  background-color: white;
  box-shadow: 1px 3px #d5d5d5;
  border: 1px solid #d1d1d1;
  padding: 15px;
  text-align: center;
}

.cardImage img {
  width: 100%;
  height: auto;
}
