p {
  margin: 0;
}

#greyBackground {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  position: fixed;
  z-index: -50;
}

#container {
  background-color: white;
  width: 100%;
  padding-left: 30px;
  box-shadow: 0 2px 4px #b4b4b4;
  overflow: hidden;
}

#container img {
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

#routingOptions {
  min-width: 500px;
  height: 100%;
  overflow: hidden;
  float: right;
}

.routeOption {
  float: left;
  color: #2f2f2f;
  text-align: center;
  height: 60px;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  border-radius: 5px;
}

#lang-switch {
    float: left;
    color: #2f2f2f;
    text-align: center;
    height: 60px;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 5px;
}

.unselectedRoute {
  background-color: white;
}

.unselectedRoute:hover {
  background-color: #dbdbdb;
}

.unselectedRoute:active {
  background-color: #cbcbcb;
}

.selectedRoute {
  background-color: #27384f;
  color: white;
}
